

<div class="position-relative" style="background-color: var(--card-bg); border-radius: var(--border-radius); padding: 1rem; box-shadow: var(--shadow);">

    <br>
    <br>
    @if (isOffline)
    {
        <div class="alert alert-warning" role="alert">
            You are offline. Saving will update local storage only.
        </div>
    }
    <textarea style="font-size:x-large" rows="@Rows" class="form-control" @bind="Text" @bind:event="oninput" placeholder="Dictate here, and then click Copy to put in the clipboard.  Click Save to put into the to do list." id="DictationBox" />

    <span class="text-danger">
        @Result

</span>

<div style="position:absolute; top: 10px; right: 10px;">
    <button type="button" class="btn btn-primary btn-sm" @onclick="CopyTextToClipboard">Copy</button>
    <button type="button" class="btn btn-outline-danger btn-sm" @onclick="ClearDictationAsync">Clear</button>
    <button type="button" class="btn btn-outline-success btn-sm" @onclick="AddToDoAsync">Save</button>
</div>
</div>

